body {
    text-align: center;


}


.playAgainBtn {
    width: 120px;
    height: 40px;
    border-radius: 7px;
    color: black;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border: 0;
    font-size: 16px;
    font-family: sans-serif;

}

.modal-section {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.modal-content {
    position: fixed;
    top: 40%;
    left: 50%;
    padding: 1em 2.5em;
    width: 40%;
    max-height: 60%;
    transform: translate(-50%, -50%);
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    font-size: 18px;
    text-align: left;
    line-height: 1.5em;
    color: black;
    border-radius: 7px;
    font-family: sans-serif;
}
